#site-preview {
  width:  1600px;
  margin: auto;
}

#site-preview #slide-viewer {
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: -10;
}

#site-preview h1,
#site-preview h3,
#site-preview p {
  margin: 0;
}

#site-preview .slide {
  width: 100%;
  display: inline-block;
  z-index: 2;
}

#site-preview #paginate {
  background-color: rgba(255,255,255,0.7);
  background-image: none;
  text-align: center;
  padding: 10px;
  margin-top: -64px;
  z-index: 10;
}

#site-preview #paginate a.pager {
  padding: 3px;
  display: inline-block;
  background-color: rgba(243,245,245,0.22);
  text-decoration: none;
  border-radius: 10px;
  z-index: 15;

  opacity: 0.8;

  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

#site-preview #paginate a.pager.active,
#site-preview #paginate a.pager:hover {
  opacity: 1.0;
}
